<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Automation Practice Website">
    <test name="Regression">
        <classes>
            <!-- <class name="tests.SignInTest"/> -->
            <!-- <class name="tests.SignOutTest"/> -->
            <!-- <class name="tests.SignUpTest"/> -->
            <!-- <class name="tests.SearchTest"/> -->
            <!-- <class name="tests.NavigationTest"/> -->
            <!-- <class name="tests.CartTest"/> -->
            <class name="tests.BuyTest"/>
        </classes>
    </test>
</suite>
